body { background: #c975f9; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 42px; display: flex; }
.block-cluster-0 { color: #dccf13; font-size: 20px; margin-bottom: 5px; }
.block-config-1 { color: #865be1; font-size: 21px; margin-bottom: 5px; }
.block-notify-2 { color: #63a778; font-size: 16px; margin-bottom: 5px; }
.block-helper-3 { color: #7f2074; font-size: 14px; margin-bottom: 5px; }
.block-user-4 { color: #3a0218; font-size: 17px; margin-bottom: 5px; }
.block-logger-5 { color: #db8801; font-size: 18px; margin-bottom: 5px; }
.block-auth-6 { color: #34804e; font-size: 19px; margin-bottom: 5px; }
.block-shipping-7 { color: #6e66d; font-size: 16px; margin-bottom: 5px; }
.block-helper-8 { color: #7f7bb6; font-size: 21px; margin-bottom: 5px; }
.block-logger-9 { color: #53ab57; font-size: 12px; margin-bottom: 5px; }